.primary-button{
    /* width: 202px;
    height: 57px; */
    border-radius: 12px;
    padding: 15px 40px;
    background-color: #3754db;
    border: none;
    color: white;
    font-weight: 700px;
    font-size: 16px;
    line-height: 19px;
  }