.page-container {
  display: grid;
  grid-template-columns: auto minmax(20%, 250px);
  gap: 32px;
  background-color: white;
}

.form-container {
  background-color: white;
  box-shadow: 0 30px 60px rgba(32, 56, 85, 0.15);
  padding: 16px 32px;
  max-height: 600px;
  border-radius: 20px;
}
